fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic-settings==2.7.1
sqlalchemy==2.0.36
psycopg[binary]==3.2.3
python-multipart==0.0.20
celery[redis]==5.4.0
redis==5.2.1
openai==1.59.7
boto3==1.35.92
botocore==1.35.92
PyJWT==2.10.1
yt-dlp==2024.12.23
alembic==1.14.0

